.sideContent {
  position: relative;
  height: auto;
  &_top {
    position: relative;
    &_img {
      position: relative;
      width: 100%;
      &::before {
        content: "";
        @include absolute;
        width: 100%;
        height: 350px;
        background: rgba($primary, 0.9);
        clip-path: polygon(0 0, 100% 0, 100% 19%, 0 38%);
      }
      &::after {
        content: "";
        @include absolute;
        width: 100%;
        height: 300px;
        // background: rgba($primary, 0.7);
        // clip-path: polygon(0 0, 0 40%, 100% 0);
      }
      &_name {
        @include absolute;
        z-index: 5;
        padding: $p-md;
        font-size: 18px;

        // typign effect
        &_typingeffect {
          font-size: 24px;
          font-weight: 500;
          position: relative;
          font-family:monospace;
        }
      }
    }
  }
  &_bottom {
    height: auto;
    padding: 25px;
    &_social {
      width: 100%;
      margin-top: 10px ;
      // defualt
      @include flex(space-between, center, none);
      position: relative;
      // margin-top: 30px;
      // bottom: 20px;
      // left: 50px;
    }
  }
}

.progress {
  background-color: $graydark;
  border-radius: 20px;
  position: relative;
  margin: 50px 0;
  height: 5px;
  width: 80%;
  margin-left: 40px;

  &_done {
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
    background: linear-gradient(
      to right,
      #806dfa,
      #009eff,
      #00c1ff,
      #00dcf8,
      #6ef2e1
    );
  }
  &_num {
    h4 {
      position: absolute;
      color: $indigo;
      top: -25px;
      left: -40px;
      font-size: 18px;
      font-weight: 500;
    }
  }
  &_title {
    @include absolute;
    top: -30px;

    h3 {
      color: $gray;
      font-weight: 500;
      font-size: 17px;
    }
  }
}
